.chatroom {
  width: 100%;
  height: 600px;
  max-height: 90vh;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 5px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  overflow: hidden;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.3);
}

.chatroom.closed {
  height: 40px;
}

.chatroom h3 {
  background-color: rgba(30, 228, 148, 0.7);
  color: #fff;
  margin: 0;
  height: 40px;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.chatroom .chats {
  box-sizing: border-box;
  padding: 20px;
  margin: 0;
  height: calc(100% - 80px);
  overflow-y: scroll;
}

.chatroom .chats .chat {
  background: rgba(255, 255, 255, 0.8);
  position: relative;
  padding: 5px 13px;
  font-size: 14px;
  border-radius: 10px;
  list-style: none;
  float: left;
  clear: both;
  margin: 10px 0;
  margin-bottom: 30px;
  max-width: 90%;
}

.chatroom .chats .chat img {
  max-width: 100%;
  vertical-align: middle;
}

.chatroom .chats .chat span.time {
  height: 10px;
  width: 200px;
  position: absolute;
  bottom: -12px;
  font-size: 10px;
  color: #888;
}
.chatroom .chats .chat.left span.time {
  left: 0;
}
.chatroom .chats .chat.right span.time {
  right: 0;
  text-align: right;
}

.chatroom .chats .chat.left {
  border-bottom-left-radius: 0;
}

.chatroom .chats .chat.right {
  float: right;
  clear: both;
  border-bottom-right-radius: 0;
}

.chatroom .chats .chat > div.text {
  word-wrap: break-word;
}

.chatroom .chats .chat.chat-img {
  padding: 5px;
}

.chatroom .chats .chat a {
  text-decoration: none;
  color: #3498db;
}

.chatroom .chats .chat ul,
.chatroom .chats .chat ol {
  margin: 0;
  padding-left: 1.5em;
}
.chatroom .chats .chat ul li,
.chatroom .chats .chat ol li {
  padding-left: 0;
}

.chatroom .chats .chat-buttons {
  position: relative;
  padding: 0;
  font-size: 14px;
  list-style: none;
  clear: both;
  margin: 10px 0;
  margin-bottom: 30px;
  text-align: center;
}

.chatroom .chats .chat-buttons .chat-button {
  background-color: rgba(255, 255, 255, 0.8);
  display: inline-block;
  transition: all 0.3s ease;
  cursor: pointer;
  border-radius: 3px;
  border: 1px solid black;
  margin: 3px;
  padding: 10px;
}
.chatroom .chats .chat-buttons .chat-button:hover {
  background-color: rgba(255, 255, 255, 1);
}

.chatroom .input {
  height: 40px;
  width: 100%;
  padding: 0 7px;
  background: rgba(30, 228, 148, 0.7);
  display: flex;
  flex-direction: row;
  align-items: center;
}

.chatroom .input input[type="text"] {
  background: rgba(255, 255, 255, 0.5);
  outline: 0;
  border: 2px solid #1ee494;
  padding: 0 5px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  height: 30px;
  flex: 4;
  box-sizing: border-box;
  font-size: 14px;
}

.chatroom .input input[type="submit"] {
  background: transparent;
  border: 1px solid #1ee494;
  height: 30px;
  min-width: 70px;
  flex: 1;
  font-size: 14px;
  box-sizing: border-box;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.chatroom .input input[type="submit"]:hover {
  background: #1ee494;
  color: #fff;
}
